.link {
    text-decoration: none;
    color: green;
  }
  
  .link:hover {
    background-color: rgba(172, 255, 47, 0.304);
  }
  
  .active {
    background-color: greenyellow;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }